$dark-lava: rgba(70, 63, 58, 1);
$middle-grey: rgba(138, 129, 124, 1);
$pale-silver: rgba(188, 184, 177, 1);
$alabaster: rgba(244, 243, 238, 1);
$melon: rgba(224, 175, 160, 1);

$alabaster-op: rgba(244, 243, 238, 0.7);
