@import "reset";
@import "typography";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  max-width: 720px;
  margin: 0 auto;
  background-image: url(../img/caesar.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: $alabaster;
  color: $dark-lava;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url(../img/caesar-neg.png);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url(../img/caesar.png);
  }
}

.header {
  padding: 0 10px 10px 10px;

  &__title {
    color: $dark-lava;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 250%;
    text-transform: uppercase;
  }

  &__text {
    display: inline-block;
    font-size: 1rem;
    line-height: 130%;
    text-align: justify;
    hyphens: auto;
  }
}

.encrypter {
  &__title {
    padding-top: 10px;
    color: $dark-lava;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
}

.form {
  width: 100%;
  padding: 10px;

  &__text {
    width: 100%;
    min-height: 40vh;
    padding: 10px;
    border: 1px solid $pale-silver;
    border-radius: 5px;
    background-color: $alabaster-op;
    resize: none;

    font-family: "Roboto Condensed", sans-serif;
    color: #000;

    &::placeholder {
      color: $middle-grey;
    }

    &:focus {
      box-shadow: 0 0px 20px 5px $melon;
    }
  }

  &__options-panel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 360px;
    text-align: left;
  }

  &__select--wrapper {
    flex-basis: 100%;

    display: flex;
    justify-content: space-between;

    padding: 10px 0;
  }

  &__select {
    width: 50px;
    min-height: 25px;
    margin-left: 5px;
    border: 1px solid $pale-silver;
    border-radius: 5px;
    background-color: $alabaster-op;

    &:focus {
      box-shadow: 0 0px 10px 5px $melon;
    }
  }

  &__radio-wrapper {
    flex-basis: 50%;

    display: flex;
    justify-content: space-between;

    padding: 10px 0;
  }

  &__radio {
    margin-top: 1px;
    background-color: $alabaster-op;
    color: $dark-lava;
  }

  &__label {
    padding: 0;

    text-align: left;

    &--select {
      flex-basis: 90%;
      font-size: 0.9rem;
    }

    &--radio {
      flex-basis: 90%;
      padding: 0 10px 0 5px;
      font-size: 0.9rem;
      line-height: 120%;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    max-width: 360px;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid $middle-grey;
    border-radius: 5px;
    background-color: $pale-silver;

    font-family: "Roboto Condensed", sans-serif;
    color: $dark-lava;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    transition: 0.3s;

    &:active {
      color: $dark-lava;
      background-color: transparent;
      border: 2px solid $pale-silver;
    }
  }
}

@media (min-width: 1368px) {
  .form {
    &__radio {
      &:focus {
        box-shadow: 0 0px 10px 5px $melon;
        background-color: $melon;
      }
    }

    &__btn {
      &:hover {
        color: $pale-silver;
        background-color: $dark-lava;
      }

      &:focus {
        box-shadow: 0 0px 10px 5px $melon;
      }
    }
  }
}

.result {
  margin: 0 10px 10px 10px;

  &__title {
    color: $dark-lava;
    font-size: 1.2rem;
    line-height: 200%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
  }
}

@media (min-width: 1368px) {
  .result {
    &__text {
      padding: 20px;
      border-radius: 5px;
      text-align: justify;
    }
  }
}

.copy-btn {
  display: block;
  padding: 0 50px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: transparent;

  font-family: "Roboto Condensed", sans-serif;
  color: $dark-lava;
  font-size: 0.8rem;
  line-height: 300%;
  font-weight: bold;
  text-transform: uppercase;

  transition: 0.3s;

  &:active {
    background-color: $pale-silver;
  }
}

@media (min-width: 1368px) {
  .copy-btn {
    &:hover {
      background-color: $dark-lava;
      color: $alabaster;
    }
    &:focus {
      box-shadow: 0 0px 10px 5px $melon;
    }
  }
}
